<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style id="style">{{{style}}}</style>
  </head>
  <body class="nui-dcn">
    <div>
      <h1>{{title}}</h1>
      <table class="nui-tbl">
        <tbody>
          <tr>
            <td>
              <pre><code>{{first.code}}</code></pre>
            </td>
            <td>
              {{{first.description.summary}}}
              {{{first.description.body}}}
            </td>
          </tr>
          {{#each middle}}
          <tr>
            <td>
              <pre><code>  {{code}}</code></pre>
            </td>
            <td>
              {{{description.summary}}}
              {{{description.body}}}
            </td>
          </tr>
          {{/each}}
          <tr>
            <td>
              <pre><code>{{last.code}}</code></pre>
            </td>
            <td>
              {{{last.description.summary}}}
              {{{last.description.body}}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{#if socket}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.js"></script>
    {{/if}}
 </body>
</html>
