<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <style id="style">{{{style}}}</style>
  </head>
  <body class="nui-dcn">
    <div>
      <h1>{{name}}</h1>
      <table class="nui-tbl">
        <tbody>{{#each documentation}}
          <tr>
            <td>
              <pre>
                <code>{{#unless ignore}}  {{/unless}}{{{code}}}</code>
              </pre>
            </td>
            <td>
              {{{description.summary}}}
              {{{description.body}}}
            </td>
          </tr>
        {{/each}}</tbody>
      </table>
    </div>
    <script src="/jquery.js"></script>
    <script>window._$ = jQuery.noConflict(true);</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.js"></script>
 </body>
</html>
