<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <style id="style">{{{style}}}</style>
    <script src="/jquery.js"></script>
    <script src="/qunit.js"></script>
    {{#if component}}
      <script src="/library/ninja.js"></script>
    {{/if}}
    <script src="/library/{{name}}.js"></script>
    <script src="/test/{{name}}.js"></script>
    <script>window._$ = jQuery.noConflict(true);</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.js"></script>
  </head>
  <body class="qunit-ninja">
    <h1 id="qunit-header">{{name}}</h1>
    <div id="qunit-testrunner-toolbar"></div>
    <div id="qunit-banner"></div>
    {{#if fixture}}
    <div id="qunit-examples">{{{fixture}}}</div>
    <div id="qunit-fixture">{{{fixture}}}</div>
    {{/if}}
    <ol id="qunit-tests"></ol>
    <div id="qunit-userAgent"></div>
  </body>
</html>
