body.nui-dcn {
  font: 12px/16px "Lucida Grande", sans-serif;
  margin: 0;
  padding: 24px;
  text-align: center;
  > div {
    display: inline-block;
    text-align: left;
    > table > tbody > tr > td {
      width: 50%;
      h2 {
        font-size: 14px;
      }
    }
  }
}

code {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font: 12px/16px "Menlo", monospace;
  padding: 2px;
}

pre {
  white-space: normal;
  > code {
    display: block;
    padding: 12px 0 12px 12px;
    white-space: pre-wrap;
  }
}
