table.ninja {
  background-color: #fff;
  border: 1px solid #efefef;
  border-bottom: none;
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  display: inline-table;
  > thead > tr > th {
    padding: 6px 26px;
    text-align: left;
  }
  > tbody > tr {
    > td, > th {
      border-left: 1px solid #efefef;
      border-bottom: @border-left;
      padding: 12px 24px;
      vertical-align: top;
      &.nui-nbr {
        text-align: right;
      }
      &:first-child {
        border-left: none;
      }
      table.nui-tbl {
        margin-bottom: 0px;
      }
    }
    &:last-child {
      > td, > th {
        &:first-child {
          border-bottom-left-radius: 4px;
        }
        &:last-child {
          border-bottom-right-radius: 4px;
        }
      }
    }
    &:nth-child(odd) {
      > td, > th {
        background-color: #fcfcfc;
      }
    }
    &:hover {
      > td, > th {
        background-color: #f6f6f6;
      }
    }
  }
}
